datadog:
  processAgent:
    enabled: {{.ProcessAgentEnabled}}
    processCollection: {{.ProcessCollection}}
    processDiscovery: {{.ProcessDiscoveryCollection}}
    containerCollection: {{.ContainerCollection}}
    runInCoreAgent: {{.RunInCoreAgent}}
  networkMonitoring:
    enabled: false
